<!DOCTYPE html>
<html id="ng-app" ng-app="baby_parts">
  <head>
    <title><%= title %></title>
    <script src="/js/angular.js"></script>
  <script src="/js/angular-route.js"></script>
  <script src="/js/angular-resource.js"></script>
  
   <script src="/controllers/appCtrl.js"></script>
  </head>
  <body data-color="grey" class="flat">
  <div id="wrapper">
  
    <ng-view></ng-view>
    </div>
 
 

